<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block head_title %}SaaS{%endblock head_title %}</title>
    {%include 'base/css.html'%}
</head>
<body>
    {%include 'navbar/nav.html'%}
    
    <!-- section to be replaced -->
     <div class="pt-16">
        {% block content %}
        replacce me
     {% endblock content %}

     </div>
     
  
    {%include 'base/js.html'%}



</body>
</html>